@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400,600,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(css/fontello.css);

/* Main Body Styling */
body {
    background: none repeat scroll 0 0 #333333;
    color: #555555;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 20px;
}

#main-panel a:visited {
    color: #303030;
}

#main-panel a:link {
    color: #303030;
}

#side-panel a:visited {
    color: #eeeeee;
}

#side-panel a:link:hover {
    color: #ffffff;
}

#side-panel a:link {
    color: #eeeeee;
}

/* Styling for wrapper div added via javascript around project table */
#main-table-wrap {
    background-color: #EEEEEE;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8BAMAAADI0sRBAAAAJ1BMVEXr6+vq6urs7Ozp6ent7e3u7u7o6Ojv7+/n5+fw8PDm5ubl5eXx8fETrQmTAAAFhElEQVR4Xi3VTXPjSB0G8H+3XhyYS7dkOZlZDuqW5JjiIqllO9wkuZ0MnGTLNjvsxW/Rbm1xsJ23KYpDHGcWFycyBVSF4hCWYmvZI8UH4MjHol27p9+x357n3yCWtM21tZDDeo3Hk2EA0BtMhrxQNAiwuZR2zbuLmf0ALTR45izN0eD1RwWrgYlEc+sCZWQW83PUaJTtHw9RY3apYFMY+VKIRhPqj9zmFr58T2mb4ctfbRU2AhLKEIud+EXuF6B7V7fdu7TjXXUXimkIeAzu+Q5RSpx72h5ingdDV+Er0BVAJnF+wp999EbtXjgWwelCOAOmiLoQWePL08AHqqeSug6gAvC5A+Ao5h2Yu9X6VaOsEozD8ejr8kOS1fWvy7NSkU0AJXSBiAGaAJPeoNXO4icuWh1FiiMHQpv3ehu0dx9RyfloHtVW8WQ094hiQYBhmg2Tz+Uv20PBcZXw5hyTKsm5Qoug3aj0ZXsNn858VNHgy0VUjzrBl98IxaUF3o57QbriS8Od7k0N34h4wDR8WipOHJAN6s7sB6phbSJ7um9iPqW6n04VdArIr65XUwZR3OrdmW/etqlF2Ju3u4Gi7oD7/RXIeSdD4/s8yR/cv4V5IluKGgfkUCeun9F2Ku1KRzX/t3/XG6i2uVAsNIjfVfC2uhSpyQZiyDt1i5sF78wyBUbwFldPUTga97014buUxcs+Ok6Z3VRsNIia4tcvjAqqXX0hd14wszu54wUTqhilsCqf+xUBTlve7s6XyDu7fyklsoQi1oFL7s5feXuIDS5do1dEzsnW6LU1BfkRWENqJBcMwMo59Zt2jTnrfzTtcKMIE7CodHpTChf2MoMPXf570Enc5a2VIsBAV8I+ywyZmSiuVKItqhLtAvo+2ODey26OjyhJgwx+ZxyF9V4ExtEOKcACcf+dEeszql9EMWAjzbTotW+kOlFkHrhDnsOoDdFgT+DPPsv+i9qFz+o/UUAT0Bf8qVXTqgFimkiQXM9O4iWSFw1FakLQkkm1dypU50xMy5PPXTzvlSdfbRSxDek/ZZYw9IwN8ukznhWeUUydWYFDxciCcMOblRFVx31iy0ZIoQARhpQYCjCB6c+1zKZ8MtwMJSJSzyxUEJlKBSBgD3e4yELKwCnGVL77lzFuuvLdX/+o0N7AA94fRgJNc7KR8ZHezV13e6T3rhVUh57Of0hlZvIzIo5S7GEiwkcFi+Dhid+vOgOwiEigfjhuMzUvGrOdYkEgNOk34FpAyv8Z8JquIqEeiK40WzHKwAM+WnpWFZfHXoVvyU85G352S/BHxb89EOk+/bldCr9lTkQzcfmH8hNIXNxSGAWADoBRCIgQ57s0S2paGC6zJF0duIbmk7CNfp93Kd5JfMgv3Wh2c1koxCk0NSCPzXjsM35M/ZRmlHStlNYPBCPQG0LLtVPZQPoAet/GXmMWjL6NeaTId/Cbm/Fj4VjccPhNdUvcPq1XjLj6QPHJBCx+Z+f1gFq4r3PNyf/jhRZ28p/lCvcWElv8wao/7TdWmXPnPC3i4C9wnhqaQv8KDBACzOPxDyNrW+g9q+VuHVA8MNgSWIKnj1HADCE3BCyfMwVSWDkgDaqPTxnQBdLGEZ0JLTEGdGaHBzR4nwm6BhOs9qtcGMTnroFuiJ9zReEDJWIdjDZ7CkvgYV+tQUrZR9ZQoZp5I/iAbSfCW2BvnK1DfYrqeB3CuYIjcBmIxuJ8Ly7qZJ85SMjepOkgO1Es7+H+ZawqRuShYvxQMfrat9KMRApvC6od3J6W9FALGdvc4qd2bnN2gOXAr0F3gs/4adfa0OSlN+wsatlLr+0prDEkf+J+AblQX9A1dDSEMxL7GiK+Iu3DKBTER4japi3p7DB9mYbdGT070P4/JfNcAmbpnUoAAAAASUVORK5CYII=");
    color: #333333;
    padding: 0 10px 20px 0px;
}

/* Hide top strip with Jenkins title and search bar */
#top-panel {
    display: none;
}

/* Style header and footer strips */
.top-sticker-inner,
.footer-table {
    background: none repeat scroll 0 0 #333333;
    font-size: 12px;
    min-height: 25px;
    padding: 5px 2px 5px 2px !important;
    height: auto !important;
}

/* Style header and footer strip links */
.top-sticker-inner a,
#right-top-nav a,
.footer-table a {
    font-size: 12px !important;
    color: #999999 !important;
    font-weight: normal !important;
    text-decoration: none;
}

#right-top-nav {
    margin-left: 20px;
}

#right-top-nav span {
    color: #999999 !important;
}

#right-top-nav span a b {
    font-weight: normal !important;
}

/* Reset padding to align Jenkins breadcrumb link with logo and give space for the plus box image used in drop-down menus */
a.model-link.inside {
    padding: 0 20px 0 0 !important;
}

/* Hide border for breadcrumbs in header strip */
#breadcrumbs {
    border-bottom: none !important;
}

/* Remove padding and border from footer */
#footer {
    padding: 0;
    border: none !important;
}

/* Rackspace logo */
#main-theme-logo {
    background: url(img/meetic-logo.png) no-repeat scroll center center transparent;
    background-size: auto 90%;
    display: inline-block;
    height: 25px;
    width: 87px;
    float: left;

    filter: brightness(120%);
    -webkit-filter: brightness(120%);
    -moz-filter: brightness(120%);
    -o-filter: brightness(120%);
    -ms-filter: brightness(120%);
}

/* Add padding to top of main table */
#main-table {
    margin-bottom: 20px;
}

/* Padding to space left-side panel away from main table */
#side-panel {
    padding-right: 0;
    padding-top: 0;
    padding-left: 0;
}

/* Background and shadow for main panel */
#main-panel {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px 20px;
}

/* Default styling for project table cells */
#projectstatus th,
#projectstatus td {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #999999;
}

/* Style project table header links */
#projectstatus th a {
    color: #999999;
    font-weight: normal;
}

#projectstatus th a:hover {
    color: #666666;
}

/* Reduce size of first project table header cell to setup status stripes */
#projectstatus th:first-child {
    padding: 0 !important;
    width: 10px !important;
}

/* Hide first project table header cell contents */
#projectstatus th:first-child * {
    display: none;
}

/* Base styling for project status project table cell, gray background by default to catch all project status states */
#projectstatus td:first-child {
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    background-color: #CCCCCC !important;
}

/* Hide standard Jenkins project status "ball" graphics in project table */
#projectstatus td:first-child img,
#projectstatus td:first-child i {
    display: none;
}

/* Remove border from last cell of project table rows */
#projectstatus td:last-child {
    border-right: 1px solid #DDDDDD;
}

/* Error state (red) styling for project table */
#projectstatus td:first-child[data="0"] {
    background-color: #db515a !important;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes building {
    from {
        background-position: 0 0
    }
    to {
        background-position: 20px 0
    }
}

/* Chrome, Safari, Opera */
@-moz-keyframes building {
    from {
        background-position: 0 0
    }
    to {
        background-position: 20px 0
    }
}

/* Standard syntax */
@keyframes building {
    from {
        background-position: 0 0
    }
    to {
        background-position: 20px 0
    }
}

tr.unknown,
td.progress-bar-done,
#projectstatus td:first-child {
    -webkit-animation: building 900ms; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation: building 900ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    background-repeat: repeat;
}

/* Building state (orange stripes) styling for main project table and build process table on left side */
#projectstatus td:first-child[data="1"] {
    background-image: url("img/stripe_orange.png") !important; /* http://www.stripegenerator.com/#Zm9yZT1GMEE0MDA7aD0zMDt3PTU7cD01O2JhY2sxPUUwOTkwMDtiYWNrMj1mZjAwMDA7Z3Q9MDtkPTA7c2hhZG93PTA7 */
}

#projectstatus td:first-child[data="5"],
table.progress-bar.red td.progress-bar-done {
    background-image: url("img/stripe_green.png") !important;
}

/* Building with no previous build done (first run) */
#projectstatus td:first-child[data="11"],
#projectstatus td:first-child[data="13"] {
    background-image: url("img/stripe_gray.png") !important; /* http://www.stripegenerator.com/#Zm9yZT05Njk2OTY7aD0zMDt3PTU7cD01O2JhY2sxPTg3ODc4NztiYWNrMj1mZjAwMDA7Z3Q9MDtkPTA7c2hhZG93PTA7 */
}

/* Success state (green) styling for project table */
#projectstatus td:first-child[data="4"] {
    background-color: #73BF50 !important;
}

/* Building state (orange stripes) styling for build process table on left side */
table.progress-bar.red td.progress-bar-done {
    background-color: #CC0000;
    border: 1px solid #BBBBBB;
    background-image: url("img/stripe_orange.png") !important;
}

/* Building state (green stripes) styling for build process table on left side */
td.progress-bar-done {
    background-color: #3465A4;
    background-image: url("img/stripe_green.png") !important; /*http://www.stripegenerator.com/#Zm9yZT03M0JGNTA7aD0zMDt3PTU7cD01O2JhY2sxPTgzREU1OTtiYWNrMj1mZjAwMDA7Z3Q9MDtkPTA7c2hhZG93PTA7*/
    border: 1px solid #BBBBBB;
}

/* Border styling for empty progress bar of build process table on left side */
td.progress-bar-left {
    border: 1px solid #BBBBBB;
}

tr.unknown {
    background-image: url("img/stripe_gray.png") !important; /* http://www.stripegenerator.com/#Zm9yZT05Njk2OTY7aD0zMDt3PTU7cD01O2JhY2sxPTg3ODc4NztiYWNrMj1mZjAwMDA7Z3Q9MDtkPTA7c2hhZG93PTA7 */
}

/* Blue color link styling */
.model-link,
#side-panel a {
    /*color: #1D71BF !important;*/
    text-decoration: none !important;
}

.model-link:hover {
    color: #1D71BF;
    text-decoration: underline !important;
}

/* Style to override down-arrow image in favor or plus box image for drop-down menus on projects, builds, and breadcrumb links */
#menuSelector {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAPUlEQVR42r2P0QYAMAwD8/9/cF+bGdOHqQlloULrnArwTtpyloIEtIdmX4YImBuA11yGAPjww9CQRz5k2gtOZAIbOGyXtAAAAABJRU5ErkJggg==") !important;
}

/* Width override for floating buttons on bottom of config screens */
.bottom-sticker,
#bottom-sticker {
    width: 70%;
}

.bigtable tr {
    border: 1px solid #DDDDDD;
}

#viewList td.inactive,
#viewList td.filler {
    border-bottom: 1px solid #DDDDDD;
}

/* Drop-down menu styling */
.yui-skin-sam .yuimenuitem-selected {
    background-color: #FFFFFF !important;
}

.yuimenu li a {
    line-height: 2em;
    cursor: pointer !important;
    color: #222222;
}

.yuimenu li a:hover {
    background: #eee !important;
}

.yuimenu :focus {
    outline: none;
}

/* Input field styling */

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 6px 12px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #999999;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* Shorten input fields */
.setting-input {
    width: 98%;
}

.yui-button input[type="submit"],
.yui-button button {
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    color: #333333;
    text-shadow: none;
    background-color: #e5e5e5;
}

/* Background for build history table on left side */
#buildHistory.pane,
#buildHistory.pane a {
    color: #cecece;
}

#buildHistory.pane a:hover {
    color: #ffffff;
}

/* Drop-down menu item styling */
#viewList td.inactive:hover {
    background-color: #CCCCCC;
    color: #FFFFFF;
}

/* Search wrapper */
#search-wrap {
    text-align: right;
    padding-top: 15px;
}

/* Remove help icon from right side of search field */
#search-wrap #searchform a {
    display: none;
}

/* Remove background image from search field */
#search-wrap #searchform #search-box {
    width: 33%;
}

table {
    border-color: transparent;
}

td.healthReport {
    width: 32px;
    text-align: center;
}

/**All icon that are replaced are here */
/* a JS is needed to remove original SRC icons */

img[alt~="Folder"] {
    display: inline-block !important;
    background-image: url('img/kwikdisk.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.build-status-icon,
.build-caption-status-icon {
    background-image: url('img/box-gray.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 2px;
    margin-right: 2px;
}

.build-status-icon.blue,
.build-caption-status-icon.blue {
    background-image: url('img/box-green.png');
}

.build-status-icon.red,
.build-caption-status-icon.red {
    background-image: url('img/box-red.png');
}

.build-status-icon.orange,
.build-caption-status-icon.orange {
    background-image: url('img/box-orange.png');
}

.anime {
    -webkit-animation: building_cube 600ms; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;

    animation: building_cube 600ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes building_cube {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

/* Chrome, Safari, Opera */
@-moz-keyframes building_cube {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

/* Standard syntax */
@keyframes building_cube {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

body, table, form, input, td, th, p, textarea, select {

    font-family: 'Open Sans', sans-serif;

}

#navigation {
    background-color: #3d3d3d;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    direction: ltr;
    color: #cdcdcd;
}

#tasks {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}

#tasks .task:hover {
    background-color: #303030;
}

#tasks img {
    filter: saturate(1000) grayscale(1) contrast(0) brightness(400%);
    -webkit-filter: saturate(1000) grayscale(1) contrast(0) brightness(400%);
    -moz-filter: saturate(1000) grayscale(1) contrast(0) brightness(400%);
    -o-filter: saturate(1000) grayscale(1) contrast(0) brightness(400%);
    -ms-filter: saturate(1000) grayscale(1) contrast(0) brightness(400%);
    opacity: 0.6;
}

#tasks .task:hover img {
    filter: contrast(100%);
    -webkit-filter: contrast(100%);
    -moz-filter: contrast(100%);
    -o-filter: contrast(100%);
    -ms-filter: contrast(100%);
}

#tasks > .task {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px 15px;
    padding-right: 30px;
    border-top: 1px solid #5c5c5c;
    position: relative;
}

#tasks .task:first-of-type {
    border-top: none;
}

#tasks > .task:before {
    margin-right: 0px;
    display: inline-block;
    font-size: 16px;
    font-family: FontAwesome;
    height: 40px;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    color: rgba(255, 255, 255, .6);
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 10px;
    line-height: 40px;
    z-index: 985;
    background: -moz-linear-gradient(left, rgba(61, 61, 61, 0) 0%, rgba(61, 61, 61, 0.9) 30%, rgba(61, 61, 61, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(61, 61, 61, 0)), color-stop(30%, rgba(61, 61, 61, 0.9)), color-stop(100%, rgba(61, 61, 61, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(61, 61, 61, 0) 0%, rgba(61, 61, 61, 0.9) 30%, rgba(61, 61, 61, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(61, 61, 61, 0) 0%, rgba(61, 61, 61, 0.9) 30%, rgba(61, 61, 61, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(61, 61, 61, 0) 0%, rgba(61, 61, 61, 0.9) 30%, rgba(61, 61, 61, 1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(61, 61, 61, 0) 0%, rgba(61, 61, 61, 0.9) 30%, rgba(61, 61, 61, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003d3d3d', endColorstr='#3d3d3d', GradientType=1); /* IE6-9 */
}

#tasks > .task:hover:before {
    background: -moz-linear-gradient(left, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0.9) 30%, rgba(48, 48, 48, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(48, 48, 48, 0)), color-stop(30%, rgba(48, 48, 48, 0.9)), color-stop(100%, rgba(48, 48, 48, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0.9) 30%, rgba(48, 48, 48, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0.9) 30%, rgba(48, 48, 48, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0.9) 30%, rgba(48, 48, 48, 1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(48, 48, 48, 0) 0%, rgba(48, 48, 48, 0.9) 30%, rgba(48, 48, 48, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00303030', endColorstr='#303030', GradientType=1); /* IE6-9 */
}

#tasks .task.current a {
    color: #ffffff;
}

#tasks .task.current {
    background-color: #e02222 !important;
}

#tasks .task.current:before {
    background: none;
    position: static;
    float: right;
    content: ' ';
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    display: block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: -40px;
    margin-top: 3px;
    padding-left: 0;
}

#tasks .task a {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-weight: 300;
}

#tasks .task a:last-of-type,
#tasks .task-link {
    margin-left: 5px;
    position: absolute;
    left: 50px;
    display: inline-block;
    min-width: 80%;
    height: 80%;
}

#navigation table.pane {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    margin-bottom: 15px;
}

#navigation tr,
#navigation td,
#navigation th,
#navigation table {
    border: 0 solid transparent;
}

#navigation td.pane-header,
#navigation th[colspan="3"],
#navigation td.pane-header a {
    background-color: #555 !important;
    color: #ffffff;
}

#navigation .pane td:first-child {
    padding-left: 18px;
}

[class^=icon-]:before, [class*=" icon-"]:before {
    width: auto;
    margin-left: 0;
}

/* icon sizing */

#management-links tr td:first-of-type {
    width: 90px;
    text-align: center;
    overflow: hidden;
}

a .picto-color-yellow,
.picto-color-yellow {
    color: #747307;
}

